@import '../../styles/shared.scss';

.ui.menu.fixed.side-nav {
  background-color: #f5f5f5;
  margin-top: $header-nav-height;
  overflow-y: auto;

  .sidebar-item:hover {
    background: #ebebeb;
  }
}

.side-nav.ui.vertical.menu {
  width: $sidebar-left-width;
}

// Compensate the top margin
div.ui.borderless.stackable.vertical.left.fixed.side-nav.menu {
  border-bottom-width: $header-nav-height;
  border-bottom-style: solid;
}
